@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
body
{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(45deg, #0085ff,#ff1458);
}

.board
{
    position: relative;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 0 50px;
}

.board .dropbox
{
 position: relative;
 width: 140px;
 height: 140px;
 border-right: 4px solid #fff;
 border-bottom: 4px solid #fff;
 padding: 10px;
 display: flex;
 justify-content: center;
 align-items: center;
}

 .board .dropbox:nth-child(3),
 .board .dropbox:nth-child(6),
 .board .dropbox:nth-child(9)
{
  border-right: none; 
}
.board .dropbox:nth-child(7),
 .board .dropbox:nth-child(8),
 .board .dropbox:nth-child(9)
 {
    border-bottom: none; 
  }

  .drag {
    position: relative;
    display:flex;
    justify-content: center;
}